.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  color: #333;
  background-color: #f8f8f8;
  font-family: 'Cuprum', 'sans-serif';
}
body h1 {
  font-size: 1.5em;
  margin: 1em 0 0;
  text-align: center;
  color: #4682b4;
/*shadow-stroke(steelblue)*/
}
body .container {
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 480px) {
  body h1 {
    text-align: left;
    font-size: 2.3em;
  }
}
@media (min-width: 767px) {
  body h1 {
    font-size: 2.5em;
  }
}
